In [23]:
import pandas as pd
import seaborn
MI1A = pd.read_json("Data/StressTest/600_VU/MI1A.json")
MI1B = pd.read_json("Data/StressTest/600_VU/MI1B.json")
MI2A = pd.read_json("Data/StressTest/600_VU/MI2A.json")
MI2B = pd.read_json("Data/StressTest/600_VU/MI2B.json")

In [24]:
unused_columns = [
    'scenariosCreated', 'scenariosCompleted', 'scenarioDuration', 'scenarioCounts', 'codes', 'matches', 'customStats', 'counters', 'scenariosAvoided', 'pendingRequests'
]
    
MI1A = MI1A.drop(columns=unused_columns)
MI1B = MI1B.drop(columns=unused_columns)
MI2A = MI2A.drop(columns=unused_columns)
MI2B = MI2B.drop(columns=unused_columns)

print(MI1A["concurrency"].max())
print(MI1B["concurrency"].max())
print(MI2A["concurrency"].max())
print(MI2B["concurrency"].max())

print(MI1A)

882
1137
890
1134

,timestamp,requestsCompleted,latency,rps,errors,latencies,concurrency
0,2021-09-18 15:45:00.674000+00:00,48,"{'min': 90, 'max': 103, 'median': 92, 'p95': 9...","{'count': 49, 'mean': 5.01}",{},"[103000000, 94000000, 93000000, 93000000, 9300...",11
1,2021-09-18 15:45:10.670000+00:00,50,"{'min': 91, 'max': 95, 'median': 92, 'p95': 94...","{'count': 50, 'mean': 5.01}",{},"[92000000, 92000000, 95000000, 92000000, 93000...",11
2,2021-09-18 15:45:20.670000+00:00,50,"{'min': 91, 'max': 95, 'median': 92, 'p95': 93...","{'count': 50, 'mean': 5.01}",{},"[92000000, 92000000, 91000000, 93000000, 92000...",11
3,2021-09-18 15:45:30.670000+00:00,50,"{'min': 91, 'max': 98, 'median': 92, 'p95': 94...","{'count': 50, 'mean': 5.01}",{},"[92000000, 91000000, 92000000, 92000000, 92000...",11
4,2021-09-18 15:45:40.670000+00:00,50,"{'min': 91, 'max': 103, 'median': 92, 'p95': 9...","{'count': 50, 'mean': 5.01}",{},"[92000000, 91000000, 92000000, 92000000, 92000...",11